* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  /* width:100%; */
  padding: 3rem;
  /* background-color:#e9eaec; */

  background-image: url("img/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  width: 325px;
  height: 600px;
}
.form__container {
  background-color: #fff;
  padding: 15px;

  display: flex;
  flex-direction: column;
}
.form__header {
  margin: 50px 0;
}
.form__header p {
  font-size: 18px;
}
.form__title {
  font-size: 27px;
  font-weight: 400;
  text-transform: capitalize;
  /* line-height:1.7; */
}
.form__title span {
  color: red;
  line-height: 23px;
}
.form__input input {
  font-family: "Open Sans", sans-serif;
  border: none;
  width: 100%;
  padding: 8px 5px;
  border: none;
  margin: 12px 0;
  border-bottom: 1px solid rgba(88, 88, 90, 0.31);
}
.form__input a {
  text-decoration: none;
  color: #009fff;
  font-size: 14px;
  margin-bottom: 22px;
}
.form__button {
  display: block;
  margin-top: 50px;
  border: none;
  border-radius: 3px;
  width: 100%;
  background-color: #ffcf40;
  color: #000;
  padding: 15px 20px;
  font-weight: 500;
  letter-spacing: 0.07em;
  margin: 15px auto 0 auto;
}
.footer p{
    margin:50px 0 12px 0;
    font-size:12px;
}
.footer i{
    margin-left:12px;
    font-size:22px;
    padding:10px;
    color:#1976d2;
    border:1px solid rgba(88, 88, 90, 0.31);
}
.copyright{
    position:absolute;
    bottom:60px;
    left:0;
    right:0;
    color:#ffcf40;
    text-align: center;
}